<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<link href="../../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="../../static/css/froala_editor.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../../static/css/editor.css" />
		<style>
			html,
			body {
				height: 100%;
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="editor-login">
			<div class="editor-login-cont">
				<h1 class="e-l-cont-h1">GencONE文档</h1>
				<div class="e-l-cont-input-forgot-h">
					请完善您的个人信息
				</div>
				<form action="" method="post">
					<div class="e-l-cont-input">
						<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="您的姓名"/>
					</div>
					<div class="e-l-cont-input">
						<input type="password" class="e-l-cont-account" name="" id="e-login-passwd" value=""  placeholder="请输入新密码"/>
						<a href="javascript:;" id="passwd-show" ><i class="fa fa-eye" aria-hidden="true"></i></a>
						<a href="javascript:;" id="passwd-hide" ><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
					</div>
					<div class="e-l-cont-input">
						<input type="submit" class="e-l-cont-btn" name="" id="" value="完成" onclick="window.location.href='information.html';"/>
					</div>
					<!--<div class="e-l-cont-input-forgot">
						或 <a href="#">忘记密码</a>
					</div>-->
				</form>
			</div>
		</div>


		<script src="../../static/js/libs/jquery-1.11.1.min.js"></script>
	<script>
		/*显示密码*/
window.onload = function() {
	var eyeBtn = document.getElementById("passwd-show");
	var eyePass = document.getElementById("e-login-passwd")
	var eyeHide = document.getElementById("passwd-hide")
	eyeHide.onmousedown = function() {
		eyePass.type = "text";
		eyeBtn.style.display="block";
		eyeHide.style.display="none";
	};
	eyeHide.onmouseup = eyeHide.onmouseout = function() {
		eyePass.type = "password"
			eyeBtn.style.display="none";
		eyeHide.style.display="block";
	}
}
	</script>
  <!--<script src="js/froala_editor.min.js"></script>-->
		<!--[if lt IE 9]>
    <script src="../js/froala_editor_ie8.min.js"></script>
  <![endif]-->
		<!--<script src="js/plugins/tables.min.js"></script>
  <script src="js/plugins/lists.min.js"></script>
  <script src="js/plugins/colors.min.js"></script>
  <script src="js/plugins/media_manager.min.js"></script>
  <script src="js/plugins/font_family.min.js"></script>
  <script src="js/plugins/font_size.min.js"></script>
  <script src="js/plugins/block_styles.min.js"></script>
  <script src="js/plugins/video.min.js"></script>

  <script>
      $(function(){
          $('#edit').editable({inlineMode: false, alwaysBlank: true})
      });
  </script>-->
	</body>

</html>
