body,
html {
	position: relative;
	overflow-y: auto;
	background: #f0f0f0;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}

.froala-editor.f-basic{
	width: auto;
    min-width: 1076px;
    box-sizing: border-box !important;
    position: relative;
    z-index: 100;
    height: 46px;
    font-size: 14px;
/*    font-family: 微软雅黑;*/
    padding: 0px 20px;
    margin: 0px auto;
    -webkit-box-shadow: 0 2px 4px rgba(20, 20, 20, 0.15);
    -moz-box-shadow: 0 2px 4px rgba(20, 20, 20, 0.15);
    -ms-box-shadow: 0 2px 4px rgba(20, 20, 20, 0.15);
    -o-box-shadow: 0 2px 4px rgba(20, 20, 20, 0.15);
    box-shadow: 0 2px 4px rgba(20, 20, 20, 0.15);    
   /* overflow: hidden;    */
      position: fixed;
    background: #f0f0f0;
    width: 100%;
        margin-top: 46px;
}

.froala-editor.f-inline{
	text-align: left;
	background: #fff;
	border: solid 1px #252525;
	border-top: solid 5px #252525;
	padding: 0;
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	font-size: 15px;
	z-index: 1000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 140%
}



.bttn-wrapper{
	    outline: none;
    width: 846px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    white-space: nowrap;
    /* font-size: 14px; */
      padding-top: 6px;
}

.froala-element {
	  /*  width: 100%;*/
   /* height: calc(100% - 45px);*/
  margin-top: 100px;
    /*overflow-x: hidden;
    overflow-y: auto;*/
    padding-top: 6px;
        width: 746px;
    margin-left: auto;
    margin-right: auto;
   position: relative;
    padding: 30px 50px 50px 50px;
     min-height: 1061px;
    outline: none;
    margin-bottom: 50px;
    background: #FFFFFF;
}

/*.editor-container{
	    width: 646px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 100px 90px 100px;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    -webkit-box-shadow: 0px 1px 6px #ccc;
    -moz-box-shadow: 0px 1px 6px #ccc;
    -ms-box-shadow: 0px 1px 6px #ccc;
    -o-box-shadow: 0px 1px 6px #ccc;
    box-shadow: 0px 1px 6px #ccc;
    min-height: 1061px;
    outline: none;
    margin-bottom: 50px;
}*/

.f-html .froala-element.not-msie.f-basic{
		  /*  width: 100%;*/
   /* height: calc(100% - 45px);*/
  margin-top: 100px;
    /*overflow-x: hidden;
    overflow-y: auto;*/
    padding-top: 6px;
        width: 746px;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    padding: 30px 50px 50px 50px;
     min-height: 1061px;
    outline: none;
    margin-bottom: 50px;
    background: #FFFFFF;
}

.f-html .froala-element.not-msie.f-basic textarea{
    width: 746px;
    padding: 30px 50px 50px 50px;
    margin-left: -50px;
    margin-top: -30px;
    margin-bottom: -50px;
    /* background-color: #fff; */
    /* border-bottom: 1px solid #d9d9d9; */
    -webkit-box-shadow: 0px 1px 6px #ccc;
    -moz-box-shadow: 0px 1px 6px #ccc;
    -ms-box-shadow: 0px 1px 6px #ccc;
    -o-box-shadow: 0px 1px 6px #ccc;
    box-shadow: 0px 1px 6px #ccc;
    min-height: 1061px;
    outline: none;
    background: #202020;
    color: #fff;
    font-family: 'Courier New', Monospace;
    font-size: 13px;
    overflow-y: auto;
/*    padding: 0;*/
    display: block;
    resize: none;
}

#edit,#editor{
	/*height: 100%;*/
	overflow: hidden;
}

.froala-editor.f-inline {
    position: fixed !important;
}

.editor-name{
	line-height: 32px;
    font-size: 16px;	
    float: left;
}

.editor-name a{
	color: #41464b;
	text-decoration: none;
}

.editor-head-txt{
	    outline: none;
    width: 846px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    /* font-size: 14px; */
    padding-top: 6px;
}

.editor-list{
	width: 846px;
	height: auto;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
/*    overflow: hidden;	*/
}

.e-list-document ul, .e-list-document ul li,.left-navigation ul,.left-navigation ul li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.editor-head{
	background: #FFFFFF !important;
	z-index: 10000 !important;
    width: auto;
    min-width: 1076px;
    box-sizing: border-box !important;
    position: relative;
    z-index: 100;
    height: 46px;
    font-size: 14px;
    /* font-family: 微软雅黑; */
    padding: 0px 20px;
    margin: 0px auto;
    -webkit-box-shadow: 0 2px 4px rgba(20, 20, 20, 0.15);
    -moz-box-shadow: 0 2px 4px rgba(20, 20, 20, 0.15);
    -ms-box-shadow: 0 2px 4px rgba(20, 20, 20, 0.15);
    -o-box-shadow: 0 2px 4px rgba(20, 20, 20, 0.15);
    box-shadow: 0 2px 4px rgba(20, 20, 20, 0.15);
    /* overflow: hidden; */
    position: fixed;
    background: #f0f0f0;
    width: 100%;
    /* margin-top: 46px; */	
}

.e-list-document ul li{
 /*   z-index: 1;*/
    width: 122px;
    height: 126px;
    cursor: pointer;
    position: relative;
/*    line-height: 175px;*/
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2px;
    float: left;
    text-align: center;
}

.e-list-document ul li .fa-file-text{
	font-size: 60px;
	color: #FFFFFF;
	margin-top: 30px;	
}

.editor-list-li-title{
	display: block;
	clear: both;
	text-align: center;
	margin-top: 10px;
	color: #666;
	text-decoration: none ;
	font-size: 12px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
margin-left: 10px;
margin-right: 20px;	
}

.e-list-document ul li a{
	text-decoration: none;
}

.e-list-document ul li:hover {
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    background: #e0e0e0;
}

.editor-list-h3{
	font-size: 13px;
	color: #666666;
	padding-top: 10px;
}

/*.editor-headline{
    position: absolute;
    top: 70px;
    width: 740px;
    left: 50%;
    margin-left: -370px;
    border: 1px solid #cccccc;
    z-index: 9;
    height: 40px;
    line-height: 40px;
    border: 0;
}*/

.editor-login{
	    clear: both;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.editor-login-cont{
   position:absolute;
   top:50%;
   left:50%;
   margin-top:-250px;
   margin-left:-240px;
    width: 480px;
    height:500px;
/*    padding: 90px 92px 30px 92px;*/
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(213,213,213,0.7);
}

.e-l-cont-h1{
    text-align: center;
    font-family: "微软雅黑";
    font-size: 30px;
    margin-top: 90px;
    margin-bottom: 80px;
}

.e-l-cont-input{
	overflow: hidden;
	margin: 0 92px;
	    margin-bottom: 2px;
	    position: relative;
}

.e-l-cont-account{
	height: 44px;
    line-height: 24px;
    font-size: 14px;
    background: #f5f5f5;
    outline: none;
    padding: 9px 16px;
    overflow: hidden;
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    color: #333;
}

.e-l-cont-btn{
	width: 100%;
    background-color: #41464b;
    color: #fff !important;
    border: none;
    /*-webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;*/
    display: block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
}

.e-l-cont-btn:hover {
    background-color: #313438;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px #ebebeb inset;
}

.e-l-cont-input i{
    position: absolute;
    right: 10px;
    top: 15px;
    color: #999999;
    font-size: 16px;
}

.e-l-cont-input-forgot{
	text-align: center;
	margin-top: 20px;	
}

.e-l-cont-input-forgot a{
    color: #41464b;
    text-decoration: none;
    font-weight: bold;
}    

.e-l-cont-input-forgot-h{
	text-align: center;
	margin-bottom: 20px;	
    color: #41464b;	
}

.editor-information-cont{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -275px;
    width: 550px;
    height: 500px;
    /* padding: 90px 92px 30px 92px; */
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(213,213,213,0.7);	
}

.e-l-information-h1{
	text-align: center;
    margin-bottom: 20px;
    color: #41464b;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.e-login-information-input label{
	width: 90px;
	float: left;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: right;
	margin-right: 20px;
	font-size: 14px;
    color: #41464b;
    font-family: "微软雅黑";	
}

.e-login-information-input{
	overflow: hidden;
	margin: 0 92px 20px 92px;
}

.display-none{
	display: none;
}

#head-portrait{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    float: left;
    position: relative;
}

#head-portrait img{
    width: 58px;
    height: 58px;
    border-radius: 50%;	
}

#head-portrait span{
	position: absolute;
	left: 0;
	top: 0;
	width: 58px;
	height: 58px;
	border-radius: 50%;
	line-height: 58px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	text-align: center;
	display: none;
	background: rgba(0,0,0,0.2);
}

#head-portrait:hover span{
	display: block;
}

.e-l-information-name{
	height: 28px;
    width: 230px;
	line-height: 26px;
	font-size: 14px;
	font-family: "微软雅黑";
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 2px #ddd inset;
    border: 1px solid #ccc;
    color: #333;
    padding: 0 10px;
}

.admin-information{
	float: right;
	line-height: 32px;
	font-size: 14px;	
	cursor: pointer;
	position: relative;
}

.admin-information span{
	line-height: 32px;
	display: block;
}

.head-portrait{
	width: 24px;
	height: 24px;
	border-radius: 50%;	
}

.a-information-cont ul,.a-information-cont li,.new-document ul,.new-document li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.a-information-cont{
	background-color: #FFFFFF;
    position: absolute;
    top: 40px;
    right: 0;
    -webkit-box-shadow: 0px 2px 8px #ccc;
    -moz-box-shadow: 0px 2px 8px #ccc;
    -ms-box-shadow: 0px 2px 8px #ccc;
    -o-box-shadow: 0px 2px 8px #ccc;
    box-shadow: 0px 2px 8px #ccc;
    z-index: 99999;    
    display: none;
}

.a-information-cont ul li {
	padding: 0 20px;
}

.a-information-cont li:hover{
    background: #f0f0f0;
}

.a-information-cont li a{
	text-decoration: none;
    color: #41464b;	
    display: block;
    width: 100%;
    height: 100%;
}

.new-document{
		float: right;
	line-height: 32px;
	font-size: 14px;	
	cursor: pointer;
	position: relative;
	margin-right: 30px;
}

.new-document span{
	line-height: 32px;
	display: block;
}

.new-document-cont{
	background-color: #FFFFFF;
    position: absolute;
    top: 40px;
    right: 0;
    -webkit-box-shadow: 0px 2px 8px #ccc;
    -moz-box-shadow: 0px 2px 8px #ccc;
    -ms-box-shadow: 0px 2px 8px #ccc;
    -o-box-shadow: 0px 2px 8px #ccc;
    box-shadow: 0px 2px 8px #ccc;
    z-index: 99999;    
    display: none;
}

.new-document-cont ul li {
	padding: 0 20px;
}

.new-document-cont li:hover{
    background: #f0f0f0;
}

.new-document-cont li a{
	text-decoration: none;
    color: #41464b;	
    display: block;
    width: 100%;
    height: 100%;
}

.left-navigation{
	position: fixed;
	top: 100px;
	width: 140px;
/*	margin-left: -140px;*/
}

.e-list-document{
	/*overflow: hidden;*/
	margin-left: 140px;
}

.left-navigation li a{
	font-size: 12px;
    color: #5e5e5e;
    line-height: 30px;
    font-family: "微软雅黑";
    text-decoration: none;
}

.left-navigation .this-page{
    color: #262626;
    font-weight: bold;
}

.e-document-set{
	    position: absolute;
    font-size: 12px;
    color: #5e5e5e;
    right: 10px;
    bottom: 10px;
    display: none;
}

.e-list-document ul li:hover .e-document-set{
	    position: absolute;
    font-size: 12px;
    color: #5e5e5e;
    right: 10px;
    bottom: 10px;
    display: block;
    z-index: 9;
}

.e-document-set-cont{
	background-color: #FFFFFF;
    position: absolute;
     top: 126px;
    right: -77px;
    -webkit-box-shadow: 0px 2px 8px #ccc;
    -moz-box-shadow: 0px 2px 8px #ccc;
    -ms-box-shadow: 0px 2px 8px #ccc;
    -o-box-shadow: 0px 2px 8px #ccc;
    box-shadow: 0px 2px 8px #ccc;
    z-index: 1;    
    display: none;
    padding: 20px 0;
}

.e-document-set-cont ul li {
    padding: 0 10px;
    width: 180px;
    height: 32px;
    text-align: left;
    border: 0;    

}

.e-document-set-cont ul li input{
    height: 20px;
    line-height: 20px;
    padding: 3px 9px;
    margin-right: 0px;
    width: 160px;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
    -moz-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
    -ms-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
    -o-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
    box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
}

.e-document-set-cont li:hover{
    background: #f0f0f0 !important;
    border-radius: 0 !important;
    border: 0 !important;
}

.e-document-set-cont li:first-child:hover{
	background: none !important;
}

.e-document-set-cont li a{
	text-decoration: none;
    color: #41464b;	
    display: block;
    line-height: 32px;
    font-family: "微软雅黑";
    font-size: 12px;
}

.e-list-document-triangle{
	    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #fff;
}

.e-list-document-triangle{
    position: absolute;
    top: -22px;
    font-size: 25px;
    color: #ffffff;
	
}

.e-document-set-cont li a i{
	font-size: 12px;
	width: 20px;
	text-align: center;
}

.e-list-document-li-hover{
	border: 1px solid #d0d0d0 !important;
    border-radius: 2px !important;
    background: #e0e0e0;
}

.e-list-document-li-hover .e-document-set{
	display: block;
}

.modal-bak{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
	z-index: 11111;
	display: none;
}

.invitation-news-user{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -240px;
    width: 480px;
    height: 500px;
    /* padding: 90px 92px 30px 92px; */
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(213,213,213,0.7);
    z-index: 22222;
    display: none;
}

.i-news-user-close{
	float: right;
    margin-top: -75px;
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
}


.share-files{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    width: 800px;
    height: 500px;
    /* padding: 90px 92px 30px 92px; */
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(213,213,213,0.7);
    z-index: 22222;
    display: none;
}

.share-files-list{
	float: left;
	width: 50%;
}

.s-f-list-input{
	overflow: hidden;
    margin: 0 40px;
    margin-bottom: 2px;
    position: relative;
}

.share-files-list-i ul li{
/*	float: left;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	/*width: 50%;*/
	margin-bottom: 10px;
}

.share-files-list-i ul{
	margin: 0;
	padding: 0;
}

.share-files-list-i ul li i{
	text-align: center;
    font-size: 96px;
    color: #41464b;
}

.share-files-list-i ul li span{
	margin: 0;
}

.confirm-delete{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    width: 400px;
    height: 300px;
    /* padding: 90px 92px 30px 92px; */
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(213,213,213,0.7);
    z-index: 22222;
    display: none;
}

.marb30{
	margin-bottom: 30px !important;
}

.box-shadow-none{
	    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}

.to-edit-cont{
    width: 846px;
    margin: 0 auto -80px auto;
    overflow: hidden;
    position: relative;
    height: 80px;
}

.to-edit-btn{
	width: 120px;
	height: 36px;
	line-height: 34px;
	font-family: "微软雅黑";
	font-size: 16px;
	    background-color: #009dd8;
    color: #fff;
    background-image: -webkit-linear-gradient(top,#00b4f5,#008dc5);
    background-image: linear-gradient(to bottom,#00b4f5,#008dc5);
    border-color: rgba(0,0,0,.2);
    border-bottom-color: rgba(0,0,0,.4);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    text-transform: none;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    text-align: center;
}

.to-edit-btn:hover{
    background-color: #00aff2;
    color: #fff;
    background-image: none;
    }
    
#passwd-show{
	display: none;
}

.save-document{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    width: 400px;
    height: 300px;
    /* padding: 90px 92px 30px 92px; */
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(213,213,213,0.7);
    z-index: 22222;
    display: none;
}

.save-document-h{
	font-size: 18px;
	text-align: center;
	font-family: "微软雅黑";
	margin-top: 70px;
	margin-bottom: 50px;
}

.save-document-h .i-news-user-close{
	    margin-top: -55px;
}

.save-document-title{
	    height: 30px;
    line-height: 30px;
    padding: 3px 9px;
    margin-right: 0px;
    width: 195px;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
    -moz-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
    -ms-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
    -o-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
    box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
    margin-bottom: 10px;
}

.display-block{
	display: block;
}

.froala-element .editor-show-h1{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #333;
    font-weight: bold;
    font-size: 100%;
    padding-bottom: 10px;
    text-align: center;
     margin-top: 70px;
     font-size: 30px;   
        border-bottom: 1px solid #e8ecf1;
}

.documernt-svg{
	width: 70px;
	margin-top: 17px;
}

.share-success-cont, .save-success-cont, .delete-success-cont, .invitation-success-cont{
	min-width: 70px;
	height: 46px;
	line-height: 46px;
	padding: 0 15px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	background: rgba(0,0,0,.7);
	color: #ffffff;
    -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius: 3px;            /* W3C syntax */	
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -23px;
    z-index: 99999999;  
    display: none;  
}
