<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link href="../../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../../static/css/froala_editor.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../../static/css/editor.css" />

    <style>
        body {
            text-align: center;
        }

        section {
            width: 100%;
            margin: auto;
            text-align: left;
        }
    </style>
</head>

<body>
	<div class="editor-head box-shadow-none">
			<div class="editor-head-txt">
				<div class="editor-name">
					<a href="list.html">GencONE文档</a>
				</div>
				<div class="admin-information"><span>毕显将 <i class="fa fa-caret-down" aria-hidden="true"></i></span>
					<div class="a-information-cont">
						<ul>
							<li>
								<a href="javascript:;" id="invitation-news">邀请新成员</a>
							</li>
							<li>
								<a href="javascript:;">安全退出</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="new-document"><span>操作 <i class="fa fa-caret-down" aria-hidden="true"></i></span>
					<div class="new-document-cont">
						<ul>
							<li>
									<a href="javascript:;" class="share-files-btn">分享此文档</a>
								</li>
								<li>
									<a href="javascript:;" class="save-document-btn">保存此文档</a>
								</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	<!--<input type="text" class="editor-headline" name="" id="" value="文档标题" placeholder="无标题"/>-->
  <section id="editor">
      <div id='edit'>

      </div>
  </section>
<!--弹出层背景蒙版-->
		<div class="modal-bak"></div>
		<!--邀请新用户-->
		<div class="invitation-news-user">

			<h1 class="e-l-cont-h1">GencONE文档<i class="fa fa-close i-news-user-close" aria-hidden="true"></i></h1>
			<div class="e-l-cont-input-forgot-h">
				欢迎邀请新用户
			</div>
			<!--<form action="" method="post">-->
				<div class="e-l-cont-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>
				<!--<div class="e-l-cont-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>
				<div class="e-l-cont-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>-->
				<div class="e-l-cont-input">
					<input type="submit" class="e-l-cont-btn invitation-success-btn" name="" id="" value="确定邀请"/>
				</div>
				<!--<div class="e-l-cont-input-forgot">
					单次邀请上限最多三人
				</div>-->
			<!--</form>-->
		</div>
		<!--共享分享-->
		<div class="share-files">

			<h1 class="e-l-cont-h1">GencONE文档<i class="fa fa-close i-news-user-close" aria-hidden="true"></i></h1>
			<div class="share-files-list">
				<div class="e-l-cont-input-forgot-h">
					分享给指定用户
				</div>
				<!--<form action="" method="post">-->
				<div class="s-f-list-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>
				<!--<div class="s-f-list-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>
				<div class="s-f-list-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>-->
				<div class="s-f-list-input">
					<input type="submit" class="e-l-cont-btn share-success-btn" name="" id="" value="确认分享"/>
				</div>
				<!--<div class="e-l-cont-input-forgot">
					单次邀请上限最多三人
				</div>-->
			<!--</form>-->
			</div>
			<div class="share-files-list">
				<div class="e-l-cont-input-forgot-h">
					添加到共享文档
				</div>
				<!--<form action="" method="post">-->
				<div class="s-f-list-input share-files-list-i">
					<ul>
						<li>
							<i class="fa fa-folder-open" aria-hidden="true"></i>
							<span class="editor-list-li-title">GencONE共享</span>
						</li>
						<!--<li>
							<i class="fa fa-folder-open" aria-hidden="true"></i>
							<span class="editor-list-li-title">GencONE共享</span>
						</li>-->
					</ul>

				</div>
				<div class="s-f-list-input">
					<input type="submit" class="e-l-cont-btn share-success-btn" name="" id="" value="确认添加"/>
				</div>
				<!--<div class="e-l-cont-input-forgot">
					单次邀请上限最多三人
				</div>-->
			<!--</form>-->
			</div>
		</div>
				<!--确认保存-->
		<div class="save-document">

			<h1 class="save-document-h">
				确认保存此文档？请输入文档标题！<i class="fa fa-close i-news-user-close" aria-hidden="true"></i>
			</h1>
			<!--<form action="" method="post">-->
			<div class="e-l-cont-input">
					<input type="text" class="save-document-title" id="" value="无标题" placeholder="文档标题">
				</div>
				<div class="e-l-cont-input">
					<input type="submit" class="e-l-cont-btn save-success-btn" name="" id="" value="保存文档"/>
				</div>
				<!--<div class="e-l-cont-input-forgot">
					单次邀请上限最多三人
				</div>-->
			<!--</form>-->
		</div>
		<!--分享成功-->
		<div class="share-success-cont">
			
		</div>
		<div class="save-success-cont">
		
		</div>
		<div class="invitation-success-cont">
		
		</div>
  <script src="../../static/js/libs/jquery-1.11.1.min.js"></script>
  <script src="../../static/js/froala_editor.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../js/froala_editor_ie8.min.js"></script>
  <![endif]-->
  <script src="../../static/js/plugins/tables.min.js"></script>
  <script src="../../static/js/plugins/lists.min.js"></script>
  <script src="../../static/js/plugins/colors.min.js"></script>
  <script src="../../static/js/plugins/media_manager.min.js"></script>
  <script src="../../static/js/plugins/font_family.min.js"></script>
  <script src="../../static/js/plugins/font_size.min.js"></script>
  <script src="../../static/js/plugins/block_styles.min.js"></script>
  <script src="../../static/js/plugins/video.min.js"></script>
  <script type="text/javascript" src="../../static/js/editorCommon.js" ></script>

  <script>
      $(function(){
          $('#edit').editable({inlineMode: false, alwaysBlank: true})
      });
  </script>
</body>
</html>
