<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<link href="../../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="../../static/css/froala_editor.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../../static/css/editor.css" />
	</head>

	<body>
		<div class="editor-head">
			<div class="editor-head-txt">
				<div class="editor-name">
					<a href="list.html">GencONE文档</a>
				</div>
				<div class="admin-information"><span>毕显将 <i class="fa fa-caret-down" aria-hidden="true"></i></span>
					<div class="a-information-cont">
						<ul>
							<li>
								<a href="javascript:;" id="invitation-news">邀请新成员</a>
							</li>
							<li>
								<a href="javascript:;">安全退出</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="new-document"><span>新建 <i class="fa fa-caret-down" aria-hidden="true"></i></span>
					<div class="new-document-cont">
						<ul>
							<li>
								<a href="index.html">新建文档</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="editor-list">
			<h3 class="editor-list-h3">GencONE文档 / 我的文档</h3>
			<div class="left-navigation">
				<ul>
					<li>
						<a href="list.html"><i class="fa fa-folder" aria-hidden="true"></i> 我的文档</a>
					</li>
					<li>
						<a href="shared_list.html"><i class="fa fa-folder-open" aria-hidden="true"></i> 共享文档</a>
					</li>
				</ul>
			</div>
			<div class="e-list-document">

				<ul>
					<li>
						<a href=""><img src="img/file_1201060_easyicon.net.svg" class="documernt-svg"/><span class="editor-list-li-title">无标题</span></a>
						<i class="fa fa-cog e-document-set" aria-hidden="true"></i>
						<div class="e-document-set-cont">
							<span class="e-list-document-triangle"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							<ul>
								<li>
									<input type="text" class="e-l-l-title-input" id="" value="无标题1" placeholder="文档标题" />
								</li>
								<li>
									<a href="javascript:;" class="share-files-btn"><i class="fa fa-users" aria-hidden="true"></i> 分享</a>
								</li>
								<li>
									<a href="javascript:;" class="confirm-delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href=""><img src="img/file_1201060_easyicon.net.svg" class="documernt-svg"/><span class="editor-list-li-title">无标题</span></a>
						<i class="fa fa-cog e-document-set" aria-hidden="true"></i>
						<div class="e-document-set-cont">
							<span class="e-list-document-triangle"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							<ul>
								<li>
									<input type="text" class="e-l-l-title-input" id="" value="无标题2" placeholder="文档标题" />
								</li>
								<li>
									<a href="javascript:;" class="share-files-btn"><i class="fa fa-users" aria-hidden="true"></i> 分享</a>
								</li>
								<li>
									<a href="javascript:;" class="confirm-delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href=""><img src="img/file_1201060_easyicon.net.svg" class="documernt-svg"/><span class="editor-list-li-title">无标题</span></a>
						<i class="fa fa-cog e-document-set" aria-hidden="true"></i>
						<div class="e-document-set-cont">
							<span class="e-list-document-triangle"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							<ul>
								<li>
									<input type="text" class="e-l-l-title-input" id="" value="无标题3" placeholder="文档标题" />
								</li>
								<li>
									<a href="javascript:;" class="share-files-btn"><i class="fa fa-users" aria-hidden="true"></i> 分享</a>
								</li>
								<li>
									<a href="javascript:;" class="confirm-delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href=""><img src="img/file_1201060_easyicon.net.svg" class="documernt-svg"/><span class="editor-list-li-title">无标题</span></a>
						<i class="fa fa-cog e-document-set" aria-hidden="true"></i>
						<div class="e-document-set-cont">
							<span class="e-list-document-triangle"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							<ul>
								<li>
									<input type="text" class="e-l-l-title-input" id="" value="无标4题" placeholder="文档标题" />
								</li>
								<li>
									<a href="javascript:;" class="share-files-btn"><i class="fa fa-users" aria-hidden="true"></i> 分享</a>
								</li>
								<li>
									<a href="javascript:;" class="confirm-delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href=""><img src="img/file_1201060_easyicon.net.svg" class="documernt-svg"/><span class="editor-list-li-title">无标题</span></a>
						<i class="fa fa-cog e-document-set" aria-hidden="true"></i>
						<div class="e-document-set-cont">
							<span class="e-list-document-triangle"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							<ul>
								<li>
									<input type="text" class="e-l-l-title-input" id="" value="无标5题" placeholder="文档标题" />
								</li>
								<li>
									<a href="javascript:;" class="share-files-btn"><i class="fa fa-users" aria-hidden="true"></i> 分享</a>
								</li>
								<li>
									<a href="javascript:;" class="confirm-delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href=""><img src="img/file_1201060_easyicon.net.svg" class="documernt-svg"/><span class="editor-list-li-title">无标题</span></a>
						<i class="fa fa-cog e-document-set" aria-hidden="true"></i>
						<div class="e-document-set-cont">
							<span class="e-list-document-triangle"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							<ul>
								<li>
									<input type="text" class="e-l-l-title-input" id="" value="无6标题" placeholder="文档标题" />
								</li>
								<li>
									<a href="javascript:;" class="share-files-btn"><i class="fa fa-users" aria-hidden="true"></i> 分享</a>
								</li>
								<li>
									<a href="javascript:;" class="confirm-delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href=""><img src="img/file_1201060_easyicon.net.svg" class="documernt-svg"/><span class="editor-list-li-title">无标题</span></a>
						<i class="fa fa-cog e-document-set" aria-hidden="true"></i>
						<div class="e-document-set-cont">
							<span class="e-list-document-triangle"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							<ul>
								<li>
									<input type="text" class="e-l-l-title-input" id="" value="无标7题" placeholder="文档标题" />
								</li>
								<li>
									<a href="javascript:;" class="share-files-btn"><i class="fa fa-users" aria-hidden="true"></i> 分享</a>
								</li>
								<li>
									<a href="javascript:;" class="confirm-delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href=""><img src="img/file_1201060_easyicon.net.svg" class="documernt-svg"/><span class="editor-list-li-title">无标题</span></a>
						<i class="fa fa-cog e-document-set" aria-hidden="true"></i>
						<div class="e-document-set-cont">
							<span class="e-list-document-triangle"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							<ul>
								<li>
									<input type="text" class="e-l-l-title-input" id="" value="无标8题" placeholder="文档标题" />
								</li>
								<li>
									<a href="javascript:;" class="share-files-btn"><i class="fa fa-users" aria-hidden="true"></i> 分享</a>
								</li>
								<li>
									<a href="javascript:;" class="confirm-delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href=""><img src="img/file_1201060_easyicon.net.svg" class="documernt-svg"/><span class="editor-list-li-title">无标题</span></a>
						<i class="fa fa-cog e-document-set" aria-hidden="true"></i>
						<div class="e-document-set-cont">
							<span class="e-list-document-triangle"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							<ul>
								<li>
									<input type="text" class="e-l-l-title-input" id="" value="无标9题" placeholder="文档标题" />
								</li>
								<li>
									<a href="javascript:;" class="share-files-btn"><i class="fa fa-users" aria-hidden="true"></i> 分享</a>
								</li>
								<li>
									<a href="javascript:;" class="confirm-delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href=""><img src="img/file_1201060_easyicon.net.svg" class="documernt-svg"/><span class="editor-list-li-title">无标题</span></a>
						<i class="fa fa-cog e-document-set" aria-hidden="true"></i>
						<div class="e-document-set-cont">
							<span class="e-list-document-triangle"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							<ul>
								<li>
									<input type="text" class="e-l-l-title-input" id="" value="无标10题" placeholder="文档标题" />
								</li>
								<li>
									<a href="javascript:;" class="share-files-btn"><i class="fa fa-users" aria-hidden="true"></i> 分享</a>
								</li>
								<li>
									<a href="javascript:;" class="confirm-delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--弹出层背景蒙版-->
		<div class="modal-bak"></div>
		<!--邀请新用户-->
		<div class="invitation-news-user">

			<h1 class="e-l-cont-h1">GencONE文档<i class="fa fa-close i-news-user-close" aria-hidden="true"></i></h1>
			<div class="e-l-cont-input-forgot-h">
				欢迎邀请新用户
			</div>
			<!--<form action="" method="post">-->
				<div class="e-l-cont-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>
				<!--<div class="e-l-cont-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>
				<div class="e-l-cont-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>-->
				<div class="e-l-cont-input">
					<input type="submit" class="e-l-cont-btn invitation-success-btn" name="" id="" value="确定邀请"/>
				</div>
				<!--<div class="e-l-cont-input-forgot">
					单次邀请上限最多三人
				</div>-->
			<!--</form>-->
		</div>
		<!--共享分享-->
		<div class="share-files">

			<h1 class="e-l-cont-h1">GencONE文档<i class="fa fa-close i-news-user-close" aria-hidden="true"></i></h1>
			<div class="share-files-list">
				<div class="e-l-cont-input-forgot-h">
					分享给指定用户
				</div>
				<!--<form action="" method="post">-->
				<div class="s-f-list-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>
				<!--<div class="s-f-list-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>
				<div class="s-f-list-input">
					<input type="text" class="e-l-cont-account" name="" id="" value="" placeholder="被邀请人邮箱" />
				</div>-->
				<div class="s-f-list-input">
					<input type="submit" class="e-l-cont-btn share-success-btn" name="" id="" value="确认分享"/>
				</div>
				<!--<div class="e-l-cont-input-forgot">
					单次邀请上限最多三人
				</div>-->
			<!--</form>-->
			</div>
			<div class="share-files-list">
				<div class="e-l-cont-input-forgot-h">
					添加到共享文档
				</div>
				<!--<form action="" method="post">-->
				<div class="s-f-list-input share-files-list-i">
					<ul>
						<li>
							<i class="fa fa-folder-open" aria-hidden="true"></i>
							<span class="editor-list-li-title">GencONE共享</span>
						</li>
						<!--<li>
							<i class="fa fa-folder-open" aria-hidden="true"></i>
							<span class="editor-list-li-title">GencONE共享</span>
						</li>-->
					</ul>

				</div>
				<div class="s-f-list-input">
					<input type="submit" class="e-l-cont-btn share-success-btn" name="" id="" value="确认添加"/>
				</div>
				<!--<div class="e-l-cont-input-forgot">
					单次邀请上限最多三人
				</div>-->
			<!--</form>-->
			</div>
		</div>
				<!--确认删除-->
		<div class="confirm-delete">

			<h1 class="e-l-cont-h1 marb30">确认删除此文档？<i class="fa fa-close i-news-user-close" aria-hidden="true"></i></h1>
			<div class="e-l-cont-input-forgot-h">
				删除后所有用户都无法访问此文档。
			</div>
			<!--<form action="" method="post">-->

				<div class="e-l-cont-input">
					<input type="submit" class="e-l-cont-btn c-delete-this-document delete-success-btn" name="" id="" value="确认删除"/>
				</div>
				<!--<div class="e-l-cont-input-forgot">
					单次邀请上限最多三人
				</div>-->
			<!--</form>-->
		</div>
		<div class="share-success-cont">
		
		</div>
		<div class="save-success-cont">
		
		</div>
		<div class="delete-success-cont">
	
		</div>
		<div class="invitation-success-cont">
		
		</div>
		<script src="../../static/js/libs/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/editorCommon.js"></script>
		<!--<script src="js/froala_editor.min.js"></script>-->
		<!--[if lt IE 9]>
    <script src="../js/froala_editor_ie8.min.js"></script>
  <![endif]-->
		<!--<script src="js/plugins/tables.min.js"></script>
  <script src="js/plugins/lists.min.js"></script>
  <script src="js/plugins/colors.min.js"></script>
  <script src="js/plugins/media_manager.min.js"></script>
  <script src="js/plugins/font_family.min.js"></script>
  <script src="js/plugins/font_size.min.js"></script>
  <script src="js/plugins/block_styles.min.js"></script>
  <script src="js/plugins/video.min.js"></script>

  <script>
      $(function(){
          $('#edit').editable({inlineMode: false, alwaysBlank: true})
      });
  </script>-->
	</body>

</html>
